{{ footer_bg_img }}
<footer class="bg-white text-primary-500 shadow-sm">
    {{ /footer_bg_img }}
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="grid sm:grid-cols-3 sm:items-center sm:justify-between">
                <div class="text-center hover:text-primary-700">
                    <a href="/contact">
                        <div class="font-bold">TELEFOON</div>
                        <div class="font-semibold">+31 6 21409474</div>
                    </a>
                </div>
                <div class="flex justify-center items-center mb-4 sm:mb-0">
                    <a href="{{ url }}" class="w-52">
                        <img src="{{ glide src='assets/logo_transparent.png' }}" class="h-15 mx-auto" alt="GM Highline Paints Logo"/>
                    </a>
                </div>
            <div class="text-center hover:text-primary-700">
                <a href="https://www.google.com/maps/place/Fm+car+treatments/@52.0617074,4.5221151,17z/data=!3m1!4b1!4m6!3m5!1s0x47c5cfe5260f9da1:0xd09b6fc7b02dc3b!8m2!3d52.0617041!4d4.52469!16s%2Fg%2F11ngjh7_by?entry=ttu&g_ep=EgoyMDI1MDMwMi4wIKXMDSoASAFQAw%3D%3D"
                target="_blank" rel="noopener">
                    <div class="font-bold">EMAIL</div>
                    <div class="font-semibold">info@diamondonderhoud.nl</div>
                </a>
            </div>
        </div>
        <hr class="my-6 sm:mx-auto lg:my-8"/>
        <span class="block text-sm text-black text-center">ALGEMENE VOORWAARDEN
            <a href="https://flowbite.com/" class="hover:underline">DISCLAIMER </a>© 2025. DIAMOND ONDERHOUD
        </span>
    </div>
</footer>
