{{ footer_bg_img }}
<footer class="bg-white text-primary-500 shadow-sm">
    {{ /footer_bg_img }}
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="grid sm:grid-cols-3 sm:items-center sm:justify-between">
                <div class="text-center hover:text-primary-700">
                    <a href="/contact">
                        <div class="font-bold">TELEFOON</div>
                        <div class="font-semibold">+31 6 21409474</div>
                    </a>
                </div>
                <div class="flex justify-center items-center mb-4 sm:mb-0">
                    <a href="{{ url }}" class="w-52">
                        <img src="{{ glide src='assets/logo_transparent-min.png' }}" class="h-15 mx-auto" alt="Diamond Onderhoud Logo"/>
                    </a>
                </div>
            <div class="text-center hover:text-primary-700">
                <a href="#"
                target="_blank" rel="noopener">
                    <div class="font-bold">EMAIL</div>
                    <div class="font-semibold">info@diamondonderhoud.nl</div>
                </a>
            </div>
        </div>
        <hr class="my-6 sm:mx-auto lg:my-8"/>
        <span class="block text-sm text-black text-center">ALGEMENE VOORWAARDEN
            <a href="#" class="hover:underline">DISCLAIMER </a>© 2025. DIAMOND ONDERHOUD
        </span>
    </div>
</footer>
