{{ footer_bg_img }}
<footer class="bg-black text-white shadow-sm bg-cover bg-center" style="background-image: url('{{ glide src="{url}" }}')">
    {{ /footer_bg_img }}
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex flex-row sm:items-center sm:justify-between">
            <div class="text-center hover:text-primary-500">
                <a href="/contact">
                    <div class="font-bold">CONTACT INFO</div>
                    <div class="font-semibold">INFO@FMCARTREATMENTS.NL</div>
                    <div class="font-semibold">+31 (0)79 303 00 35</div>
                </a>
            </div>
            <a href="{{ url }}"
               class="flex m-auto items-center justify-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse w-52">
                <img src="{{ glide src="assets/outline-gm.png" }}" class="h-15" alt="GM Highline Paints Logo"/>
            </a>
            <div class="text-center hover:text-primary-500">
                <a href="https://www.google.com/maps/place/Fm+car+treatments/@52.0617074,4.5221151,17z/data=!3m1!4b1!4m6!3m5!1s0x47c5cfe5260f9da1:0xd09b6fc7b02dc3b!8m2!3d52.0617041!4d4.52469!16s%2Fg%2F11ngjh7_by?entry=ttu&g_ep=EgoyMDI1MDMwMi4wIKXMDSoASAFQAw%3D%3D"
                   target="_blank" rel="noopener">
                    <div class="font-bold">ADRES</div>
                    <div class="font-semibold">WATTSTRAAT 19A</div>
                    <div class="font-semibold">2723 RA ZOETERMEER</div>
                </a>
            </div>
        </div>
        <hr class="my-6 sm:mx-auto lg:my-8"/>
        <span class="block text-sm text-white text-center">ALGEMENE VOORWAARDEN
            <a href="https://flowbite.com/" class="hover:underline">DISCLAIMER </a>© 2021. HYDRODIP NEDERLAND
        </span>
    </div>
</footer>
