<div class="bg-primary-400 py-14 px-12">
    <h2 class="text-white text-6xl text-center mb-14">{{ group_title }}</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 text-center gap-8 w-full">
        {{ hexagons }}
            <a
                href="{{ hexagon_button_url }}"
                class="
                    col-3
                    rounded
                    aspect-[9/12]
                    relative
                    text-white
                    text-5xl
                "
                {{ if is_external }}
                    target="_blank"
                    rel="noopener"
                {{ /if }}
            >

                {{ hexagon_img }}
                    <div
                        style="background-image: url('{{ glide src="{url}" }}')"
                        class="
                            bg-cover
                            bg-bottom
                            z-10
                            flex
                            items-end
                            justify-center
                            h-full
                            w-full
                            hover:-translate-x-2
                            hover:-translate-y-2
                            transition
                            ease-in-out
                            duration-150
                            absolute
                            select-none
                            rounded
                    ">
                        <div class="absolute card-overlay h-full w-full z-10 rounded"></div>
                        <div class="z-30 absolute mb-4 rounded">{{ hexagon_title }}</div>
                    </div>
                {{ /hexagon_img }}
                <div class="h-full w-full bg-white absolute rounded"></div>
            </a>
        {{ /hexagons }}
    </div>
</div>
